/*
 * Include twitter bootstrap
 *
 * Using @import as recommended in the README
 * because it allows to re-use bootstrap mixins.
*/
@import "bootstrap";


/*
 * Include nprogress bar
*/
$nprogress-zindex: 10100;

@import 'nprogress';
@import 'nprogress-bootstrap';

/*
 * Include font-awesome iconic webfont
 */
@import "font-awesome";

body { padding-top: 60px; }

pre
{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size:70%;
  margin-bottom: 9px;
  width: auto;
  padding: 5px;
  padding-bottom: 10px;
  max-height: 600px;
}


/* ----- SimpleForm Styles ----- */
.simple_form {
  div.input {
    margin-bottom: 10px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
  label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 10px;
  }
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form {
  .error {
    clear: left;
    color: black;
    display: block;
    margin-left: 120px;
  }
  .hint {
    clear: left;
    margin-left: 120px;
    color: #555;
    display: block;
    font-style: italic;
  }
}

input {
  &.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }
  &.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
  }
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

span.help-block {
  color: #a00;
}